<div class="container">
  <form class="form" [formGroup]="profileForm"  (ngSubmit)="onSubmit()">

    <label for="profUsername">USERNAME: *</label>
    <input id="profUsername" type="text" formControlName="profileUsername" required minlength="4">
    <div *ngIf="(profileForm.value['profileUsername'] || submitted) && profileForm.value['profileUsername'].errors?.required" class="invalid-feedback">Accept Ts & Cs is required</div>
  
    <label for="profile-password">PASSWORD: *</label>
    <input id="profile-password" type="text" formControlName="profilePassword" required minlength="8">

    <label for="profile-name">NOME: *</label>
    <input id="profile-name" type="text" formControlName="profileName" required>

    <label for="profile-surname">COGNOME: *</label>
    <input id="profile-surname" type="text" formControlName="profileSurname" required>

    <label for="profile-mail">MAIL: *</label>
    <input id="profile-mail" type="text" formControlName="profileMail" required>

    <label for="profile-phone">TELEFONO: </label>
    <input id="profile-phone" type="text" formControlName="profilePhone">

    <label for="profile-gender">SESSO: *</label>
    <input id="profile-gender" type="text" formControlName="profileGender" required>

    <p>* = Campi obbligatori.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  
  </form>
</div>



<router-outlet></router-outlet>